<section class="advertisement_section" id="advertisement">
  <div class="advertisement">
    <div class="advertisement-img"></div>
    <div class="advertisement_content">
      <h2 class="visually-hidden">Advertisement</h2>
        </h2>
        <p class="advertisement_text">
          Choose <span class="your_story">your story</span>, making every moment
          unique. Time is your style, and we reveal it.
        </p>
      
      <a class="btn_adv" href="#contact_us" type="button" data-modal-open>Contact Us</a>
    </div>
  </div>
  </div>
</section>

