<section id="contact_us" class="contact-section">
 <div class="container">
  <h2 class="title-contact">Contact us</h2>
    <div class="section-contact-info">
    <div class="contact-info">
        <p class="contact-descr">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <form class="form-info">
            <div class="input-group">
                <label class="contact-label visually-hidden" for="user-name">Name</label>
                <input class="input-descr" type="text" id="user-name" name="user-name" placeholder="Name" required>
            </div>


            <div class="input-group">
                <label class="contact-label visually-hidden" for="user-mail">Email</label>
                <input class="input-descr" type="email" id="user-mail" name="user-mail" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required>
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid email, try again</p>
            </div>
            <div class="input-group">
                <label class="contact-label visually-hidden" for="user-phone">+380</label>
                <input class="input-descr" type="text" id="user-phone" name="user-phone" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"  title="format +380-XX-XXX-XX-XX"
                inputmode="tel"   placeholder="+380" required>
                <p class="text-valid">Succes!</p>
                <p class="text-invalid">Invalid phone number, try again</p>
            </div>
            <div class="input-group-comment">
                <label class="contact-label visually-hidden" for="user-comment">Comment
                </label>
                <textarea class="text-input" name="user-comment" id="user-comment" placeholder="Comment"></textarea>
              </div>
             <button class="btn-contact-send" type="submit">Send</button>
        </form>
    </div>
   <div class="section-contact-img">
 <picture>
   <source media="(min-width: 1280px)" srcset="./img/contact_us/contact-watch-desk-min.jpg 1x, /img/contact_us/contact-watch-desk@2x-min.jpg 2x">
   <source media="(min-width: 768px)"  srcset="./img/contact_us/contact-watch-tab-min.jpg 1x, /img/contact_us/contact-watch-tab@2x-min.jpg 2x">
   <source media="(max-width: 767px)" srcset="./img/contact_us/contact-watch-mob-min.jpg 1x, /img/contact_us/contact-watch-mob@2x-min.jpg 2x">
   <img src="./img/contact_us/contact-watch-desk-min.jpg" class="img-contact" alt="model-watch"/>
 </picture>  
 </div>
</div>
</div>
</section> 