<header class="header">
  <div class="container header-container">
    <a href="#index.html" class="logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#hero" class="nav-link current">Home</a></li>
        <li><a href="#about-us" class="nav-link">About Us</a></li>
        <li><a href="#catalog" class="nav-link">Catalog</a></li>
        <li><a href="#sale" class="nav-link">Sale</a></li>
        <li><a href="#reviews" class="nav-link">Reviews</a></li>
        <li><a href="#contact-us" class="nav-link">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <svg class="social-icon-svg" width="20" height="20">
            <use href="./img/img-header/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <svg class="social-icon-svg" width="20" height="20">
            <use href="./img/img-header/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
        >
          <svg class="social-icon-svg" width="20" height="20">
            <use href="./img/img-header/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="menu-burger">
      <svg class="icon" width="40" height="40">
        <use href="./img/img-header/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu is-ope">
    <div class="mobile-menu-header">
      <button id="menu-close" class="menu-close">
        <svg class="icon" width="17" height="17">
          <use href="./img/img-header/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <div class="mob-menu-flex">
      <nav class="mobile-menu-nav">
        <a href="#hero" class="nav-link current-mob">Home</a>
        <a href="#about-us" class="nav-link">About Us</a>
        <a href="#catalog" class="nav-link">Catalog</a>
        <a href="#sale" class="nav-link">Sale</a>
        <a href="#reviews" class="nav-link">Reviews</a>
        <a href="#contact-us" class="nav-link">Contact Us</a>
      </nav>
      <ul class="mobile-social-list">
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="social-icon"
          >
            <svg class="social-icon-svg" width="20" height="20">
              <use href="./img/img-header/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="social-icon"
          >
            <svg class="social-icon-svg" width="20" height="20">
              <use href="./img/img-header/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="social-icon"
          >
            <svg class="social-icon-svg" width="20" height="20">
              <use href="./img/img-header/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
