<section class="container">
  <div class="hero">
    <div class="hero_header_foto">
      <div class="hero_header">
        <h1 class="hero_title">
          Welcom to our <span class="hero_span"> collection </span> of premium
          watches
        </h1>
        <p class="hero_p">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero_foto">
        <ul class="hero_foto_list">
          <li class="hero_foto_items">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../img/image_hero/foto_dsk_1-min.png    1x,
                  ../img/image_hero/foto_dsk_1@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/image_hero/foto_tab_1-min.png    1x,
                  ../img/image_hero/foto_tab_1@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 375px) and (max-width: 767px)"
                srcset="
                  ../img/image_hero/foto_mob_1-min.png    1x,
                  ../img/image_hero/foto_mob_1@2x-min.png 2x
                "
              />
              <img
                src="../img/image_hero/foto_mob_1-min.png"
                alt="Victoria Romashenko"
                class="hero_foto_icon_v"
              />
            </picture>
          </li>
          <li class="hero_foto_items">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../img/image_hero/foto_dsk_2-min.png    1x,
                  ../img/image_hero/foto_dsk_2@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/image_hero/foto_tab_2-min.png    1x,
                  ../img/image_hero/foto_tab_2@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 375px) and (max-width: 767px )"
                srcset="
                  ../img/image_hero/foto_mob_2-min.png    1x,
                  ../img/image_hero/foto_mob_2@2x-min.png 2x
                "
              />
              <img
                src="../img/image_hero/foto_mob_2-min.png"
                alt="John Wax"
                class="hero_foto_icon_j"
              />
            </picture>
          </li>
          <li class="hero_foto_items">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../img/image_hero/foto_dsk_3-min.png    1x,
                  ../img/image_hero/foto_dsk_3@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../img/image_hero/foto_tab_3-min.png    1x,
                  ../img/image_hero/foto_tab_3@2x-min.png 2x
                "
              />
              <source
                media="(min-width: 375px) and (max-width: 767px)"
                srcset="
                  ../img/image_hero/foto_mob_3-min.png    1x,
                  ../img/image_hero/foto_mob_3@2x-min.png 2x
                "
              />
              <img
                src="../img/image_hero/foto_mob_3-min.png"
                alt="Anastasia Trachuk"
                class="hero_foto_icon_a"
              />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="hero_link">
          <button type="button" class="hero_button">Scroll down</button>
        </a>
      </div>
    </div>
    <div class="hero_watch">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/image_hero/rectangle_dsk-min.jpg    1x,
            ../img/image_hero/rectangle_dsk@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/image_hero/rectangle_tab-min.jpg    1x,
            ../img/image_hero/rectangle_tab@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 375px and max-width: 767px)"
          srcset="
            ../img/image_hero/rectangle_mob-min.jpg    1x,
            ../img/image_hero/rectangle_mob@2x-min.jpg 2x
          "
        />
        <img
          src="../img/image_hero/rectangle_mob-min.jpg"
          alt="Watch"
          class="hero-watch"
        />
      </picture>
    </div>
  </div>
</section>
