<section class="section-sale" id="sale">
    <div class="container">
     <h2 class="sale-subtitle">Sale</h2>
  <div class="sale-div">
        <div class="sale-watch-div">
            <ul class="sale-watch-list">
                <li class="sale-watch-list-item">
                        <img srcset="./img/sale/list-watch-1.webp 1x, ./img/sale/list-watch-1@2x.webp 2x"
                        src="./img/sale/list-watch-1.webp" 
                        alt="Greenlane 5900 watch, front view" 
                        class="sale-list-image">
                </li>
                <li class="sale-watch-list-item">
                        <img srcset="./img/sale/list-watch-2.webp 1x, ./img/sale/list-watch-2@2x.webp 2x"
                        src="./img/sale/list-watch-2.webp" 
                        alt="Greenlane 5900 watch, front view"
                        class="sale-list-image">
                </li>
                <li class="sale-watch-list-item">
                        <img srcset="./img/sale/list-watch-3.webp 1x, ./img/sale/list-watch-3@2x.webp 2x"
                        src="./img/sale/list-watch-3.webp" 
                        alt="Greenlane 5900 watch, front view"
                        class="sale-list-image">
                </li>
                <li class="sale-watch-list-item">
                        <img srcset="./img/sale/list-watch-4.webp 1x, ./img/sale/list-watch-4@2x.webp 2x"
                        src="./img/sale/list-watch-4.webp" 
                        alt="Greenlane 5900 watch, front view"
                        class="sale-list-image">
                </li>
            </ul>
            <div class="big-watch-div">
                    <img srcset="./img/sale/watch.webp 1x, ./img/sale/watch@2x.webp 2x"
                    src="./img/sale/watch.webp" alt="Greenlane 5900 watch, main view" class="big-watch-div-img">
            </div>
        </div>
            <div class="sale-info-div">
                <h3 class="sale-lead">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
                <p class="sale-product-teg">Product teg:706587</p>
                <div class="sale-price-div">
                    <span class="sale-new-price">€1500</span>
                    <span class="sale-old-price">€3000</span>
                </div>
                <p class="sale-description">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
                to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
                <ul class="sale-teg-list">
                    <li class="sale-tag-item">Fused carbon fiber</li>
                    <li class="sale-tag-item">Grade-5 Titanuim</li>
                    <li class="sale-tag-item">Athlete</li>
                    <li class="sale-tag-item">Golfer</li>
                    <li class="sale-tag-item">Commander</li>
                    <li class="sale-tag-item">Adventurer</li>
                </ul>
            </div>
  </div>
    </div>
</section>
