/* Advertisement */

.advertisement_section {
  display: flex;  
  padding-bottom: 60px;
}
.advertisement {
  background-color: #0c0c0c; 
  padding: 60px 28px;
  border-radius: 30px;
  position: relative;  
}
.advertisement-img {
  background-image: url(/img/advertisement/mobile70-min.jpg);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-resolution: 2x) {
  .advertisement-img {
    background-image: url(/img/advertisement/mobile70@2x-min.jpg);
  }
}
.advertisement_text {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 1;
  margin-bottom: 28px;
  position: relative;
  z-index: 1;
}
.your_story {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  opacity: 1;
  color: rgba(251, 251, 251, 0.5);
}
.buton_adv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  white-space: nowrap;
  color: #ffffff;
  padding: 15px 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.buton_adv:hover,
.buton_adv:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}
/* Screen tablet */
@media screen and (min-width: 768px) {
  .advertisement_section {
    padding-bottom: 80px;
  }
  .advertisement {
    padding: 80px 64px;
  }
  .advertisement-img {
    background-image: url(/img/advertisement/tablet70-min.jpg);    
  }
  @media (min-resolution: 2x) {
    .advertisement-img {
      background-image: url(/img/advertisement/tablet70@2x-min.jpg);
    }
  }
    .advertisement_text {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 32px;
    position: relative;
    z-index: 1;
  }
  .your_story {
    font-size: 48px;
    line-height: 92%;
  }
}

/* Screen desktop */

@media screen and (min-width: 1280px) {
  
  .advertisement_section {
    padding-bottom: 100px;
  }
 
  .advertisement-img {
    background-image: url(/img/advertisement/desktop70-min.jpg);    
  }
  @media (min-resolution: 2x) {
    .advertisement-img {
      background-image: url(/img/advertisement/desktop70@2x-min.jpg);
    }
  }
  .advertisement_content {
    display: flex;
    gap: 140px;
  }
  .advertisement_text {
    margin-bottom: 0;
    position: relative;
    z-index: 12;
  }
  
}
